body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: rgb(204, 236, 250);
    background-image:url('F:\web\media\logon.png') ;
 
  }
  @media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    body {
        font-size: 20px;
    }
}
  .container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 100%;
    /* Adjust the width as needed */
}

@media (min-width: 600px) {
    .item {
        flex: 1 1 50%;
    }
}

@media (min-width: 900px) {
    .item {
        flex: 1 1 33.33%;
    }
}
  
  .navbar {
    background-color: #ffffff; 
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .head{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    height: 15vh;
    width:auto;
  }
  .container {
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    display: flex;
    background-color: #007aff;
  }
  

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   display: flex;
   margin-left: 20vw;
  }
  
  nav ul li {
    /*display: inline;*/
    margin-right: 4vw;
    
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7vw;
  }
  nav ul li a :hover{
    text-decoration: overline;
  }
  h3{
    /*margin-left: -90px;*/
    color: #000000;
    font-size: 2.3vw;
    text-align: center;
  }
  
  .content {
    margin-top: 100px; /* Adjust according to navbar height */
  }
  
  /*for the carousel*/
  .carousel {
   position: relative;
    width: 100%; /* Adjust the width as needed */
    height: auto;
   overflow: hidden; /* Hide overflow content */
  }
  
  
  img {
    width: 1350px; /* Set the width of each image */
    height: auto;
  }
  .about_us{
    margin-top: 50px;
    width: 90%;
    margin-left: 5%;
  }
  h2{
    text-decoration: underline;
    text-align: center;
    font-size: 2.5vw;
  }
  p{
    font-family: inherit;
    line-height: 2.5vw;
    font-size: 1.5vw;
  }
  .key{
    display: flex;
  }
  .key_1{
    width: 300px;
  }
  #ref{
    width: 5vw;
    height: auto;
  }
  h4{
    margin-top: 0px;
    font-size: 1.6vw;
  }
  .programs{
    margin-top: 50px;
  }
  .procont{
    margin-top: 60px;
    /*margin-left: 250px;*/
  }
  #prog{
    width: 19vw;
    height: auto;
    border-radius: 10px;
    margin: 10px;
  }
  #prog_1{
    width:19vw;
    height: 15vw;
    border-radius: 10px;
    margin: 10px;
    display: inline-flex;
  }
  #prog :hover{
    animation:grow;
    animation-duration: 2s;
  }
  .stats{
    background-image: url('F:\web\media\pang-yuhao-_kd5cxwZOK4-unsplash.jpg');
    display:flex;
    background-position: fixed;
    background-repeat: no-repeat;
  }
.section{
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.supervisor{
  margin-top: 50px;
}
.supervisor ul{
  margin-left: 35vw;
  padding-top: 40px;
}
.plog ul{
  margin-left: 25vw;
  padding-top: 40px;

} 

  #part{
    width: 10vw;
    margin-right: 2vw;
  }
  #part1{
    width:10vw;
    height: auto;
    margin-right: 2vw;
  }
  #sup{
    width:20vw;
  }
  footer{
    margin:0%;
    
  }
  .first li{
    padding-top: 1.5vw;
    list-style-type: none;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .left{
    text-align: left;
    list-style: none;
    text-decoration-line: none;
  }
.right{
  text-align: left;
 
}
  .second{
    background-color: #007aff;
    padding: 2vw;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
    
  }
  .second li{
    padding-top: 5px;
    list-style-type: none;
  }
  h6{
    font-size: 2.5vw;
    text-align: left;
    text-decoration: underline;
  }

 

  
  